<table *ngIf="Customers.length; else noCustomers" class="table">
  <thead>
    <tr>
      <th>Num.</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let Customer of Customers; index as i; odd as odd"
      [ngClass]="odd ? 'alert-success' : 'bg-light'"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ Customer.firstName }}</td>
      <td>{{ Customer.lastName }}</td>
      <td>{{ Customer.phone }}</td>
      <td>{{ Customer.email }}</td>
    </tr>
  </tbody>
</table>
<ng-template #noCustomers>
  <div>
    {{ "opss... no Contacts!!!" | textCapital }}
  </div>
</ng-template>
