<table *ngIf="Contacts.length; else noContacts" class="table">
  <thead>
    <tr>
      <th>Num.</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Phone</th>
      <th>Email</th>
      <th>ID</th>
      <th>age</th>
      <th>Edite</th>
      <th>Delite</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let contact of Contacts; index as i; odd as odd"
      [ngClass]="odd ? 'alert-success' : 'bg-light'"
      [routerLink]="['contact-delits', contact._id]"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ contact.firstName }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.phone }}</td>
      <td>{{ contact.email }}</td>

      <td>{{ contact.ID }}</td>
      <td>{{ contact.birthDay | age }}</td>
      <td>
        <a
          class="btn btn-outline-success"
          [routerLink]="['contact-edit', contact._id]"
          role="button"
          ><i class="fas fa-pen"></i
        ></a>
      </td>
      <td>
        <button
          class="btn btn-outline-success"
          (click)="delideContact($event, contact._id!)"
        >
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #noContacts>
  <div>
    {{ "opss... no Contacts!!!" | textCapital }}
  </div>
</ng-template>
