<page-header
  titel="about"
  icon="fas fa-users"
  bgColor="alert-success"
  subTitel="this is about page"
  routerLink="about"
></page-header>
<div class="col-12 px-0 m-0">
  <div class="row bg-dark p-4 m-0">
    <div class="col-12 col-md-8 center p-0">
      <img
        class="img-fluid"
        src="/assets/images/customers-page.jpg"
        alt="cards display"
      />
    </div>
    <div class="col-12 col-md-4 center text-light p-0">
      <div class="px-4">
        <h2 class="text-center">Display Table</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
          deserunt in iste porro aut et quo, rerum fugiat cumque dolor ullam
          voluptatum quod aliquam quas! Harum ab tempora placeat culpa?
        </p>
      </div>
    </div>
  </div>
  <div class="row mb-4 bg-light p-4 m-0">
    <div class="col-12 col-md-4 center p-0">
      <div class="px-4">
        <h2 class="text-center">Display Folders</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
          deserunt in iste porro aut et quo, rerum fugiat cumque dolor ullam
          voluptatum quod aliquam quas! Harum ab tempora placeat culpa?
        </p>
      </div>
    </div>
    <div class="col-12 col-md-8 center p-0">
      <img
        class="img-fluid"
        src="/assets/images/display-folders.jpg"
        alt="cards display"
      />
    </div>
  </div>
</div>
