<page-header
  [titel]="titel"
  [icon]="icon"
  bgColor="alert-success"
  [subTitel]="subTitel"
></page-header>

<div class="d-flex justify-content-between">
  <div class="mt-3">
    <a
      routerLink="new-customer"
      class="btn btn-outline-success"
      title="Add new customer"
      role="button"
      >{{ "add customer" | textCapital }}</a
    >
  </div>
  <display-mode-controllers
    *ngIf="customerData && customerData.length"
    [controllers]="controllers"
    (onChangeDisplay)="onChangeDisplay($event)"
  ></display-mode-controllers>
</div>
<div *ngIf="dataReceived && customerData && customerData.length; else loader">
  <search-bar
    *ngIf="customerData && customerData.length"
    [categories]="categories"
    [array]="customerRowData"
    (onArrayFiltered)="onSearch($event)"
  ></search-bar>
  <div *ngIf="Customers.length; else nocustomer">
    <app-customer-folders
      [customers]="Customers"
      *ngIf="display === 'folder'"
    ></app-customer-folders>
    <app-customer-cards
      [customers]="Customers"
      *ngIf="display === 'cards'"
    ></app-customer-cards>

    <app-customer
      *ngIf="display === 'table'"
      (onDeleteCustomer)="deleteCustomer($event)"
      [Customers]="Customers"
    ></app-customer>
  </div>
  <ng-template #nocustomer>
    <div>
      {{ "opss... no customer!!!" | textCapital }}
    </div>
  </ng-template>
</div>
<ng-template #loader>
  <app-loader></app-loader>
  <div>
    {{ "If there are customers please wait..." | textCapital }}
  </div>
</ng-template>
