<table class="table">
  <thead>
    <tr>
      <th>Num.</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Phone</th>
      <th>Email</th>
      <th>ID</th>
      <th>age</th>
      <th>Edite</th>
      <th>Delite</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let Customer of Customers; index as i; odd as odd"
      [ngClass]="odd ? 'alert-success' : 'bg-light'"
      [routerLink]="['customer-delits', Customer._id]"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ Customer.firstName }}</td>
      <td>{{ Customer.lastName }}</td>
      <td>{{ Customer.phone }}</td>
      <td>{{ Customer.email }}</td>
      <td>{{ Customer.ID }}</td>
      <td>{{ Customer.birthDay | age }}</td>

      <td>
        <a
          class="btn btn-outline-success"
          [routerLink]="['customer-edit', Customer._id]"
          role="button"
          ><i class="fas fa-pen"></i
        ></a>
      </td>
      <td>
        <button
          class="btn btn-outline-success"
          (click)="delideCustomer($event, Customer._id!)"
        >
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
